{% import '_/buttons.html.twig' as buttons %}

{{ form_start(form) }}


<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.email) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.role) }}
    </div>
</div>

{{ form_widget(form) }}

    {{ buttons.ok(button_label|default('Save'|trans)) }}

{{ form_end(form) }}
